.main-container {
   height: 100%;
   width: 100%;
   display: flex;
   gap: var(--space-xl);
}

.main__left {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: var(--space-xl);
}

.main__right {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: var(--space-xl);
}   