/* === CARDS CONTAINER === */
.cards {
    position: relative;
    width: 100%;
    height: 55%;
    min-width: 0;
    min-height: 0;
    display: flex;
    flex-direction: column;
    padding: var(--space-lg); 
    gap: var(--space-md);
    border-radius: var(--bd-radius);    
    background-color: var(--bg-main-card);
    box-shadow: var(--bx-shadow);
}

.cards__title {
    width: auto;
    font-size: 2.4rem;
    color: var(--txt-primary);
    font-weight: 600;
}

/* === CARDS LAYOUT STRUCTURE === */
.cards__wrapper {
    height: 100%;
    width: 100%;
    min-width: 0;
    display: flex;
    gap: var(--space-xs);
    align-items: center;
    justify-content: space-between
}

.cards__main-column {
    height: 100%;
    width: 60%;
    min-width: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-xs);
}

.cards__navigation {
    width: 100%;
    height: 100%;
    min-width: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--space-sm);
    padding: 0 var(--space-xs);
}

.cards__nav-button {
    display: flex;
    outline: none;
    border: none;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}   

.cards__nav-button:hover {
    transform: translateY(-2px);
}
.cards__arrow-icon {
    width: 3rem;
}

.cards__line {
    height: 100%;
    width: 2px;
    color: var(--txt-secondary);
    opacity: 0.3;
}

.cards__side-column {
    height: 100%;
    width: 35%;
    display: flex;
    align-items: start;
}

/* === CREDIT CARD VISUAL (THE CARD) === */
.card {
    height: 22rem;
    width: 75%;
    min-width: 0;
    max-width: 40rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: var(--space-md);
    border-radius: 22px;
    background-image: url('./public/image.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 90px 70px;
    background-color: #2282c3;
    box-shadow: var(--bx-shadow);
}

.card__content {
    height: 100%;
    width: 100%;
    min-width: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card__header {
    display: flex;
    gap: var(--space-sm);
    flex-direction: column;
}

.card__info {
    display: flex;
    gap: var(--space-2xl);
}

.card__group {
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);
}

.card__brand {
    font-size: 2em;
    font-weight:600;
    color: #fff;
}

.card__type {
    font-size: 1.6rem;
    font-weight: 200;
    color: #e4e4e4;
    text-transform: uppercase;
}

.card__number {
    font-size: 2.6rem;
    white-space: nowrap;
    font-weight: 600;
    letter-spacing: 0.2rem;
    color: #fff;
}

.card__label {
    font-size: 1.2rem;
    white-space: nowrap;
    font-weight: 400;
    color: #fff;
}

.card__value {
    font-size: 1.6rem;
    font-weight: 500;   
    color: #fff;
    white-space: nowrap;
    text-transform: uppercase;
}


/* === CARD LIMIT SECTION === */
.limit {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--space-sm);
}

.limit__info {
    width: 100%;
    display: flex;   
    align-items: center;
    justify-content: space-between;
}

.limit__label {
    color: var(--txt-secondary);
    font-weight: 300;
    font-size: 1.4rem;
}

 .limit__value {
    color: var(--txt-primary);
    font-size: 1.5rem;
    font-weight: 500;
 }


/* === BALANCE SUMMARY === */
.balance-summary {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
    gap: var(--space-md);
}

.balance__item {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.balance__amount {
    display: inline;
    text-align: right;
    font-size: 3.2rem;
    font-weight: 400;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.balance__amount--primary {
    font-size: 4.6rem;
    font-weight: 600;
    width: 100%;
    color: #197bbd;
}

.balance__amount--income {
    font-weight: 500;
    color: #66ad9c;
}

.balance__amount--outcome {
    color: #c45f4e;
}

.balance__label {
    font-size: 1.8rem;
    text-align: right;
    color: var(--txt-secondary);
}
