.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
}

*{
    letter-spacing: 0.05em;
}

.header__text-area {
    display: flex;
    flex-direction: column;
    gap: var(--space-sm);
}

.header__user-area {
    display: flex;
    gap: var(--space-sm);
    margin-right: var(--space-xl);
}
.header__icon {
    width: 5em;
    height: 5em;
}
.header__user-info {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: var(--space-xs);
}

.header__title {
    font-size: 6rem;
    font-weight: 600;
    color: var(--txt-primary);
}

.header__subtitle {
    font-size: 2.2rem;
    font-weight: 300;
    color: var(--txt-secondary);
}

.header__user-name {
    font-size: 1.4rem;
    color: var(--txt-primary);
}

.header__user-role {
    font-size: 1.4rem;
    font-weight: 300;
    color: var(--txt-secondary);
}

