.transaction-history {
   width: 100%;
   height: 45%;
   min-width: 0;
   min-height: 0;
   display: flex;
   flex-direction: column;
   padding: var(--space-lg); 
   gap: var(--space-sm);
   border-radius: var(--bd-radius);
   background-color: var(--bg-main-card);
   box-shadow: var(--bx-shadow);
}

.transaction-history__title {
   color: var(--txt-primary);
   font-size: 2.4rem;
   font-weight: 600;
   margin-bottom: var(--space-xs);
}

.transaction-history__table-container {
   width: 100%;
   height: 100%;
   min-width: 0;
   min-height: 0;
   overflow: auto;
   scroll-behavior: smooth;
}


.transaction-history__table {
   table-layout: fixed;
   border-collapse: collapse; /* Faz com que linhas e colunas compartilhem a mesma borda, caso a opção seje separate, haverá um border-spacing entre ta linhas e colunas.*/
   width: 100%;
   height: 100%;
   padding: 0;
}

.transaction-history__head {
   width: 100%;
   position: sticky; /*  Diferente de fixed faz como que o elemento fique fixo em relação ao Pai e não à página.*/
   top: 0;
   z-index: 10;
}

.transaction-history__header {
   letter-spacing: 0.2px;
   background: var(--bg-main-card);
   font-size: 1.8rem;
   font-weight: 300;
   padding: var(--space-sm);
   color: var(--txt-secondary);
   text-align: left;
   vertical-align: middle;
}  

.history__cell {
   color: var(--txt-secondary);
   font-size: 1.8rem;
   font-weight: 200;
   vertical-align: middle;
   padding: var(--space-lg) 0;
   white-space: nowrap; 
   border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.history__cell--amount {
   font-weight: 600;
}

.history__cell--receiver {
   align-items: center;
   font-weight: 400;
}

.history__cell--receiver span {
   display: flex;
   align-items: center;
   gap: var(--space-md);
}

.history__cell--receiver, .history__cell--amount {
   color: var(--txt-primary);
   padding-left: var(--space-sm);
}

.history__cell--receiver, .transaction-history__header:first-child {
   width: 35%;
   text-align: left;
   padding-left: var(--space-sm);
}  
   
.history__cell--type, .history__cell--date {
   text-align: left;
   padding-left: var(--space-sm);
   width: 20%;
}  

.transaction-history__header--amount, .history__cell--amount {
   width: 20%;
   text-align: right;
   padding-right: var(--space-sm);
}

.history__image-background {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 3rem;
   height: 3rem;
   border-radius: 5px;
   background-color: #efefef;
}

.history__icon {
   width: 1.8rem;
   height: 1.8rem;
}
