 .main-card {
   width: 100vw;
   height: 100vh;
   padding: var(--space-lg); 
   gap: var(--space-2xl);

   background-color: var(--bg-main-card);
   box-shadow: var(--bx-shadow);
   
   display: grid;
   grid-template-columns: 250px 1fr;
   grid-template-rows: 120px 1fr;
   grid-template-areas: 
   "sidebar header"
   "sidebar main";
}

.sidebar-container { grid-area: sidebar; }
.header-container { grid-area: header; }
.main-container { grid-area: main; }