* {
    letter-spacing: 0.02em;
}

.goals-container{
    height: 33%;
    display : flex;
    flex-direction: column;
    gap: var(--space-xs);
    background-color: transparent;
}

.goals__header {
    width: 12em;
    padding: var(--space-sm);
    display: flex;
    gap: var(--space-sm);
    align-items: center;
    justify-content: space-between;
}

.goals__title {
    font-size: 2.4em;
    color: var(--txt-primary);
    font-weight: 600;
}

.goals__add-goal {
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    cursor: pointer;
    background-color: #fec146;
    border: none;
    outline: none;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: all 0.3s ease-in-out;
}

.goals__add-goal:hover {
    background-color: #f7a429;
}
.goals__add-goal p {
    text-align: center;
    font-size: 2em;
    font-weight: 400;
}

.goals__card-container {
    width: 100%;
    display: flex;
    gap: var(--space-sm);
    align-items: center;
    justify-content: space-between;
}  

.goals__card {
    width: 15em;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--space-2xl);
    align-items: flex-start;
    justify-content: space-between;
    padding: var(--space-sm) var(--space-lg);
    border-radius: var(--bd-radius);
    box-shadow: var(--bx-shadow);
}   

.goals__values {
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);
}

.goals__label {
    display: flex;
    flex-direction: column;
    gap: var(--space-sm);
}

.goals__cost {
    font-size: 2.6em;
    font-weight: 600;
    color: var(--txt-primary);
}

.goals__date {
    font-size: 1.6em;
    font-weight: 400;
    color: var(--txt-secondary);
}

.goals__icon {
    width: 3em;
    height: 3em;
}

.goals__goal-name {
    font-size: 2.2em;
    font-weight: 400;
    color: var(--txt-primary);
}